* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #f8b7d1;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #6a4c9c;
}
.lista-nav {
    display: flex;
    list-style: none;
}
.lista-nav li {
    margin-left: 20px;
}
.lista-nav a {
    text-decoration: none;
    color: #6a4c9c;
    font-size: 18px;
    transition: color 0.3s;
    margin-top: 10px;
}
.lista-nav a:hover {
    color: #ff6f61;
}